/* css for the answer container*/
.answer-container {
    display: flex;
    margin-bottom: 0.9rem;
    
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid goldenrod;
    border-radius: 15px;
    background-color: transparent;
}
/* css for the prefixes A,B,C,D */
.answer-prefix{
    padding: 1.7rem 2.5rem;
    background-color: goldenrod;
    color: black;
    border-radius: 10px;
}
/* css for each of the answer option */
.choice-text {
    padding: 1.5rem;
    width: 100%;
    
    
}

.answer-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 goldenrod;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

/* css to change color of correct and incorrect answer*/
.correct {
    background-color: #7bff00;
 box-shadow:2px 2px 8px #7bff00 ;
}

.incorrect {
    background-color: red;
 box-shadow:2px 2px 8px #ff0000cf ;
}

#hud {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
  }
  
  .hud-prefix {
    text-align: center;
    font-size: 2rem;
  }
  
  .hud-main-text {
    text-align: center;
  }
  