@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Orbitron:wght@400;700&family=Oswald:wght@300&display=swap');

/* root style added for all pages */
:root{
    background-image: url(assets/images/space-1164579_1280.png);
    color: goldenrod;
    font-size: 62.5%;
   
}

*{
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5.3rem;
    margin-bottom: 5rem;
    text-align: center;
    text-shadow: 2px 2px 8px goldenrod; 
}
h2 {
   margin-bottom: 4.8rem;
   font-size: 4.2rem;
   font-weight: 700;
}
h3 {
    font-size: 2.8rem;
    font-weight: 500;
}
/* container class to center text and quiz to the center of the page*/
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 80rem;
    padding: 2rem;

}
   
   
/* flex-column and flex-center created to display the high score and start button in a center column*/
.flex-column {
    display: flex;
    flex-direction: column;

}
.flex-center {
    justify-content: center;
    align-items: center;
}

/* css for high score and start button*/
.btn {
    font-size: 2.4rem;
    padding: 1rem 0;
    width: 20rem;
    border: 0.1rem  ;
    margin-bottom: 2rem;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
}
/* css for hover effect on the start and high score button*/
.btn:hover{
    cursor: pointer;
   font-size: 3rem;
    transform: scale();
    transition: transform 150ms;
}
/* lightsaber cursor import taken from https://www.cursors-4u.com/cursor/2005/07/07/oth24.html*/
 * {cursor: url(https://cur.cursors-4u.net/others/oth-1/oth24.cur), auto !important;} /* End https://www.cursors-4u.com */